<% if comments.each do |comment| %>
  <div class="media mt-2 mb-2">
    <%= image_tag comment.user.gravatar_url(70),
                  class: 'mr-3 rounded',
                  size: 70 %>
    <div class="media-body">
      <h5 class="mt-0">
        <%= comment.user.display_name %>
        <small>(<%= comment.created_at.strftime('%e %b @ %H:%M').squish %>)</small>
      </h5>
      <%= comment.text %>
    </div>
  </div>
<% end.empty? %>
  <p>No comments, yet.</p>
<% end %>
