<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Home:</strong>
  <%= @comment.home %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
