<h1>
  Your Home Hunts
</h1>

<p>
  You can hunt for homes on your own, or invite or help others with existing house hunts.
</p>

<% @hunts.each do |hunt| %>
  <%= render 'details', hunt: hunt %>
<% end %>
