<h1>
  Your Home Hunts
</h1>

<p>
  You can hunt for homes on your own, or together with other people.
</p>

<% if @hunts.each do |hunt| %>
  <%= render 'details', hunt: hunt %>
  <%= link_to 'View details',
              hunt_path(hunt),
              class: 'btn btn-success' %>
<% end.empty? %>
  <p>
    You haven't set up or joined any hunts yet.
    Creating a hunt lets you build a list of homes and invite others to collaborate.
  </p>
<% end %>

<h2 class="mt-4">
  Begin a new hunt!
</h2>

<%= render 'form', hunt: current_user.hunts.new %>

<h2 class="mt-4">
  Already been invited?
</h2>

<p>
  Click the link you were sent and you'll be able to accept the invite.
</p>
