<% title @hunt.title %>

<%= render 'details', hunt: @hunt %>

<%= render 'action_buttons', hunt: @hunt %>

<p class="mt-3">
  To invite others to this home hunt,
  share the following link:
</p>

<p>
  <code><%= join_hunt_url(@hunt, token: @hunt.join_token) %></code>
</p>
