<% title @hunt.title %>

<%= render 'details', hunt: @hunt %>

<% if @hunt.homes.enabled.size.positive? %>
  <%= link_to "View #{pluralize(@hunt.homes.enabled.size, 'home')}",
              hunt_homes_path(@hunt),
              class: 'btn btn-success' %>
<% else %>
  <%= link_to 'Add the first home',
              new_hunt_home_path(@hunt),
              class: 'btn btn-success' %>
<% end %>

<p class="mt-3">
  To invite others to this home hunt,
  share the following link:
</p>

<p>
  <code><%= join_hunt_url(@hunt, token: @hunt.join_token) %></code>
</p>
