#homeImagesCarousel .list-inline {
  white-space:nowrap;
  overflow-x:auto;
}

#homeImagesCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
}

#homeImagesCarousel .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
}

#homeImagesCarousel .carousel-indicators > li.active img {
  opacity: 0.7;
}

.rated_by_others {
  color: #007bff; /* bootstrap blue */
}

.header-text {
  color: rgba(0,0,0,.5);
  font-size: 1.2em;
}
.header-text:hover {
  text-decoration: none;
  color: rgba(0,0,0,.7);
}
.header-text img {
  height: 25px;
  width: 25px;
}

@media (min-width: 992px) {
  .header-text {
    font-size: 2em;
  }
  .header-text img {
    height: 50px;
    width: 50px;
  }

  .navbar-nav {
    font-size: 1.2em;
  }
}
