<p>
  HomePicker helps people collaborate on their property search
  by building a shared shortlist together.
</p>

<ul>
  <li>
    Quickly pull in listings from Zoopla or Rightmove.
  </li>
  <li>
    Share comments or ratings to discover what each of you like.
  </li>
  <li>
    Find the place you all fall in love with!
  </li>
</ul>
