<p>
  Home Picker helps people collaborate on their property search
  by building a shortlist of homes together.
</p>


<ul class="list-unstyled">
  <li>
    <%= fa_icon('list-alt', type: :light) %>
    Quickly pull in listings from Zoopla or Rightmove.
  </li>
  <li>
    <%= fa_icon('comments', type: :light) %>
    Share comments or ratings to discover what each of you like.
  </li>
  <li>
    <%= fa_icon('heart', type: :light) %>
    Find the place you all fall in love with!
  </li>
</ul>
